<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omat lukuvinkit</title>
</head>
<body>
<p>// <a href="/" class="button">Etusivu</a> // <a href="/logout" class="button">Kirjaudu ulos</a></p>
<h1>Omat lukuvinkit</h1>
<h3>Lisää lukuvinkki</h3>
<form action="/add_tips" method="POST" onsubmit="return check (this)">
    <br>
    Kirjoittaja:
    <br>
    <input name="tip_name" rows="1" size="60">
    <br>
    Teoksen nimi:
    <br>
    <input name="tip_title" rows="1" size="60">
    <br>
    Url:
    <br>
    <input name="tip_url" rows="1" size="60">
    <br>
    <input type="submit" name="action" value="Lisää" class="button">
</form>
<br>
<form action="/results" method="GET" onsubmit="return check_search (this)">
    <h3>Hae lukuvinkki</h3>
    Kirjoittajan nimi:
    <br>
    <input name="tip_search" size="60"/>
    <br>
    <input type="submit" name="action" value="Hae" class="button">
</form>

<h3>Lukemattomat lukuvinkit:</h3>
<hr>
{% for tip in unread_tips %}
<form action="/delete" method="POST" onsubmit="return delete_tip (this)">
    Teoksen nimi: {{tip[0]}}, Kirjoittaja: {{tip[1]}}, URL: {{tip[2]}}
    <input type="hidden" value="{{tip[3]}}" name="tip_id">
    <input type="submit" name="action" value="Poista" class="button">
    <input type="submit" name="action" value="Luettu / Ei luettu" class="button">
</form>
<hr>
{% endfor %}
<h3>Luetut lukuvinkit:</h3>
{% for tip in read_tips %}
<form action="/delete" method="POST" onsubmit="return delete_tip (this)">
    Teoksen nimi: {{tip[0]}}, Kirjoittaja: {{tip[1]}}, URL: {{tip[2]}}, Luettu: {{tip[5]}}
    <input type="hidden" value="{{tip[3]}}" name="tip_id">
    <input type="submit" name="action" value="Poista" class="button">
    <input type="submit" name="action" value="Luettu / Ei luettu" class="button">
</form>
<hr>
{% endfor %}
<script>
  function check(form) {
      if (form.tip_name.value.length >100){
          alert("Vinkin kirjoittajan maksimipituus on 100 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_name.value.length<3){
        alert("Vinkin kirjoittajan minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_url.value.length>200){
          alert("Vinkin URL:in maksimipituus on 200 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_url.value.length<3){
        alert("Vinkin URL:in minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_title.value.length >100){
          alert("Teoksen nimen maksimipituus on 100 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_title.value.length<3){
        alert("Teoksen minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      return true
  }

  function check_search(form){
    if (form.tip_search.value.length<3){
      alert("Kentän minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
      return false
    }
    return true
  }
  function delete_tip(form){
    return true
  }

</script>
</body>
</html>
