<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omat lukuvinkit</title>
    <style>

      .lista {    
          display: grid;
          grid-template-columns: 200px 150px 350px 100px 150px;
          width: 950px;
          background-color: #ffffff;
          gap: 2px;

      }

      .listaheader {
          background-color: #cccccc;
          font-weight: bold;
          padding: 4px;
          border-radius: 4px;
      }

      .listaitem {
          background-color: #eeeeee;
          padding: 4px;
      }
    
  </style>
</head>
<body>
<p>// <a href="/" class="button">Etusivu</a> // <a href="/logout" class="button">Kirjaudu ulos</a></p>
<h1>Omat lukuvinkit</h1>
<h3>Lisää lukuvinkki</h3>
<form action="/add_tips" method="POST" onsubmit="return check (this)">
    <br>
    Kirjoittaja:
    <br>
    <input name="tip_name" rows="1" size="60">
    <br>
    Teoksen nimi:
    <br>
    <input name="tip_title" rows="1" size="60">
    <br>
    Url:
    <br>
    <input name="tip_url" rows="1" size="60">
    <br>
    <input type="submit" name="action" value="Lisää" class="button">
</form>
<br>
<form action="/results" method="GET" onsubmit="return check_search (this)">
    <h3>Hae lukuvinkki</h3>
    Kirjoittajan nimi:
    <br>
    <input name="tip_search" size="60"/>
    <br>
    <input type="submit" name="action" value="Hae" class="button">
</form>

<h3>Lukemattomat lukuvinkit:</h3>
<div class=lista>
  <div class=listaheader>Teoksen nimi</div>
  <div class=listaheader>Kirjoittaja</div>
  <div class=listaheader>URL</div>
  <div class="listaheader">&nbsp;</div>
  <div class="listaheader">&nbsp;</div>
</div>


{% for tip in unread_tips %}
<form action="/delete" method="POST">
  <input type="hidden" value="{{tip[3]}}" name="tip_id">
<div class="lista">
  <div id="notread_tips"  class="listaitem">
    <div>
      {{tip[0]}}
    </div>
  </div> 
  <div class=listaitem>{{tip[1]}}</div> 
  <div class=listaitem>{{tip[2]}}</div>
  <div class=listaitem>&nbsp;</div>
  <div class=listaitem> 
      <input type="submit" name="action" value="Poista" class="button" onclick="return confirm_delete(this)">
      <input type="submit" name="action" value="Luettu / Ei luettu" class="button">
  </div>
</div>
</form>

{% endfor %}
<h3>Luetut lukuvinkit:</h3>

<div class=lista>
  <div class=listaheader>Teoksen nimi</div>
  <div class=listaheader>Kirjoittaja</div>
  <div class=listaheader>URL</div>
  <div class="listaheader">Luettu</div>
  <div class="listaheader">&nbsp;</div>
</div>

{% for tip in read_tips %}
  <div class="lista">
    <div id="read_tips" class="listaitem">{{tip[0]}}</div>
    <div class=listaitem>{{tip[1]}}</div>
    <div class=listaitem>{{tip[2]}}</div>
    <div class="listaitem">{{tip[5]}}</div>
    <div class="listaitem">
      <form action="/delete" method="POST">
    <input type="hidden" value="{{tip[3]}}" name="tip_id">
    <input type="submit" name="action" value="Poista" class="button" onclick="return confirm_delete(this)">
    <input type="submit" name="action" value="Luettu / Ei luettu" class="button">
</form></div>
</div>
{% endfor %}
<script>
  function check(form) {
      if (form.tip_name.value.length >100){
          alert("Vinkin kirjoittajan maksimipituus on 100 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_name.value.length<3){
        alert("Vinkin kirjoittajan minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_url.value.length>200){
          alert("Vinkin URL:in maksimipituus on 200 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_url.value.length<3){
        alert("Vinkin URL:in minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_title.value.length >100){
          alert("Teoksen nimen maksimipituus on 100 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_title.value.length<3){
        alert("Teoksen minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      return true
  }

  function check_search(form){
    if (form.tip_search.value.length<3){
      alert("Kentän minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
      return false
    }
    return true
  }

  function confirm_delete(form){
    if (confirm("Haluatko varmasti poistaa lukuvinkin?")){
    return true
  }else {
    return false
  }
  }

</script>
</body>
</html>
