<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<a href="/logout" class="button">kirjaudu ulos</a>
<h1>Lukuvinkkejä</h1>

<form action="/add_tips" method="post" onsubmit="return check (this)">
    <h3>Lisää lukuvinkki</h3>
    Kirjoittaja:
    <br>
    <input name="tip_name" size="60"/>
    <br>
    Url:
    <br>
    <input name="tip_url" size="60"/>
    <br>
    <input type="submit" name="action" value="Lisää" class="button">
</form>
<br>
<form action="/results" method="GET" onsubmit="return check_search (this)">
    <h3>Hae lukuvinkki</h3>
    Kirjoittajan nimi:
    <br>
    <input name="tip_search" size="60"/>
    <br>
    <input type="submit" name="action" value="Hae" class="button">
</form>

<h3>Listatut lukuvinkit:</h3>
<hr>
{% for tip in existing_tips %}
Kirjoittaja: {{tip[0]}}, URL: {{tip[1]}}
<hr>
{% endfor %}

<script>
  function check(form) {
      if (form.tip_name.value.length >100) {
          alert("Vinkin kirjoittajan maksimipituus on 100 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_name.value.length<3){
        alert("Vinkin kirjoittajan minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_url.value.length>200){
          alert("Vinkin URL:in maksimipituus on 200 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      if (form.tip_url.value.length<3){
        alert("Vinkin URL:in minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      return true
  }

  function check_search(form){
    if (form.tip_search.value.length<3){
      alert("Kentän minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
      return false
    }
    return true
  }


</script>
</body>
</html>
