<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kirjaudu</title>
</head>
<body>
  <h1>Etusivu</h1>
  {% if not user_id %}
<h1>Kirjaudu</h1>
<h3>Kirjaudu lukuvinkkisovellukseen</h3>
<form method="POST" action="/">
    Sähköposti:
    <br>
    <input name="email" id="email" size="50"/>
    <br>
    Salasana:
    <br>
    <input name="password" id="password" type="password" size="50"/>
    <br>
    <input type="submit" value="Kirjaudu" class="button">
    <label class="checkbox">
        <input type="checkbox">
        Muista minut
    </label>
</form>


<br>
Eikö sinulla vielä ole käyttäjätunnusta? Tästä pääset <a href="/register" name="register">rekisteröitymään</a>!
<br>
{% else %}
Tästä pääset <a href="/add_tips" name="users_page">omille sivuille</a>!
{% endif %}
<h3>Lukuvinkit:</h3>
<hr>
    {% for tip in existing_tips %}
    Teoksen nimi: {{tip[0]}}, Kirjoittaja: {{tip[1]}}, URL: {{tip[2]}}
<hr>
{% endfor %}

</body>
</html>
