<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekisteröidy</title>
</head>
<body>
<h1>Rekisteröidy</h1>

<h3>Rekisteröidy lukuvinkkisovelluksen käyttäjäksi</h3>
<form method="POST" action="/register" onsubmit="return check (this)">
    Sähköposti:
    <br>
    <input name="email" id="email" size="50"/>
    <br>
    Nimi:
    <br>
    <input name="name" id="username" size="50"/>
    <br>
    Salasana:
    <br>
    <input name="password" id="password" type="password" size="50"/>
    <br>
    <input type="submit" value="Rekisteröidy" class="button">
</form>
<br>
Onko sinulla jo käyttäjätunnus olemassa? Tästä pääset <a href="/" class="button">kirjautumaan sisään</a>!
<br>

<script>
  function check(form) {
      if (form.username.value.length <3) {
          alert("Käyttäjätunnuksen minimipituus on 3 merkkiä.")
          return false
      }
      if (form.password.value.length<3){
        alert("Salasanan minimipituus on 3 merkkiä. Korjaathan kentän tiedot.")
          return false
      }
      return true
  }
</script>

</body>
</html>
